.resultContainer {
    width: 55%;
    margin: 8% auto;
    padding: 1.5rem 4rem;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.resultContainer div {
    display: flex;
    flex: 1;
}

.uniPic img {
    margin: 0 auto;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.uniPic img:hover {
    cursor: pointer;
}

.resultDetails {
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.resultDetails h2:hover {
    cursor: pointer;
}

.resultSquareContainer {
    padding: 1rem 0;
    border-bottom: .05rem solid #D3D3D3
    ;
}

@media (min-width: 300px) {
    .resultContainer {
        width: 85%;
        padding: 0;
        padding: 1rem;
        margin: 15% auto;
    }

    .uniPic img {
        width: 40%;
        height: 20%;
        border-radius: 1rem;
    }
}


@media (min-width: 1280px) {
    .resultContainer {
        margin: 6% auto 0;
        width: 75%;
    }

    .uniPic img {
        width: 50%;
        height: 100%;
    }
}

@media (min-width: 1440px) {
    .resultContainer {
        margin: 3% auto 0;
        width: 58%;
    }

    .uniPic img {
        width: 50%;
        height: 100%;
    }
}

@media (min-width: 1920px) {
    .resultContainer {
        margin: 5% auto 0;
        width: 70%;
    }

    .uniPic img {
        width: 50%;
        height: 100%;
    }
}