body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  outline: 0;
}

/***************/
/* HEADER AREA */
/***************/

.App-header ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.App-header li {
  float: left;
}

.App-logo {
  height: 70px;
  float: left;
  margin-top: -20px;
}

.App-header {
  background-color: #236eae;
  top: 0;
  height: 30px;
  width: 100%;
  padding: 10px 20px 10px 80px;
  color: white;
  position: fixed;
  z-index: 1020;
}

.App-title {
  font-size: 1.5em;
  margin-top: 0;
}

.App-login {
  float: right !important;
  text-align: center;
  margin-right: 16em;
  margin-top: 0.4em;
  cursor: pointer;
}

/*************/
/* BODY AREA */
/*************/

.contentDiv {
  background-image: url("https://thumb.lovemondays.com.br/OgQmaqU5marO2Eo9urpFI9xO0ME=/2560x1160/https://thumb.lovemondays.com.br/image/5752a20bf8ac4513b7ca41c79e8fccf5/home_galleries/0cdf83/globosat.png");
  height: 860px;
  width: 100%;
  color: white;
  overflow: auto;
}

#content div {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 180px;
  background: rgba(35, 110, 174, 0.9);
  border-radius: 5px;
}

.contentDiv ul {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contentDiv ul > li {
  display: inline;
  padding: .3rem 16%;
  border: 1px solid;
  cursor: pointer;
}

.contentDiv ul > li:hover {
  color: #236eae;
  background-color: white;
}

.clickedState {
  color: #236eae;
  background-color: white;
}

.clickedState span {
  font-weight: bold;
}

#engineForm {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
}

#engineForm input {
  width: 30%;
  height: 40px;
  padding: 0 20px;
  background: #fff;
  border: 0;
  font-size: 18px;
  color: #444;
  margin-left: 20px;
}

#engineForm button {
  height: 40px;
  padding: 0 10px;
  margin-left: 10px;
  margin-right: 20px;
  color: #fff;
  background-color: #ff6b70;
  border-color: #ff6b70;
}

/********************/
/* SEARCH PAGE AREA */
/********************/

#elementInstitutionSearch {
  margin-top: 6em;
}

#containerSearch {
  margin-left: 8.5em;
  margin-right: 8.5em;
  width: auto;
  height: 100px;
  background-color: #f1f1f1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

#institutionHeaderBackground {
  display: block;
  height: 40px;
  width: 100%;
  background-image: -webkit-gradient(linear,left top,right top,from(#c6e9f7),to(#e9f9ff));
  background-image: -o-linear-gradient(left,#c6e9f7 0,#e9f9ff 100%);
  background-image: linear-gradient(to right,#c6e9f7 0,#e9f9ff 100%);
  background-repeat: repeat-x;
}

#institutionAvatar {
  display: inline;
}

#institutionAvatar img{
  width: 3em;
  margin: -1em auto auto 3em;
}

#institutionName, #institutionName p {
  display: inline;
  margin: -1em 0 0 0.5rem;
}

#elementInstitutionReview {
  margin-top: 2em;
}

#containerReview {
  margin-left: 8.5em;
  margin-right: 8.5em;
  padding-bottom: 2em;
  width: auto;
  background-color: #f1f1f1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

#containerReview hr {
  border-top: 1px solid #dcdcdc;
}

#institutionReviewTitle {
  margin: 2em;
  padding-top: 0.5em;
}

#institutionReviewTitle h2 {
  color: #666;
  margin-bottom: 0;
}

#institutionReviewTitle p {
  color: #999;
  font-size: 0.8em;
  margin-top: 0;
}

#institutionReviewTitle hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #dcdcdc;
}

#institutionReviewContent {
  margin: 2em;
}

#institutionReviewContent p {
  color: #666;
}

#starRatingsDiv {
  display: flex;
}

#starRatingsDiv p {
  margin-left: 1em;
}

#nonOrderedRatingsList {
  display: inline-block !important;
}

#starRatingsDivDetailed {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

#starRatingsDivDetailed {
  display: inherit;
}

#starRatingsDivDetailed li {
  margin: 0.5em 0 0 0.5em;
}

#starRatingsDivDetailed li > div {
  float: right;
  margin: 0 0 0 1em;
}

#starRatingsDivDetailed p {
  font-size: 12px;
  vertical-align: middle;
  right: 0;
  display: inline-block;
}

#polarChart {
  width: 60%;
  display: inline-block !important;
}

#polarChart > canvas {
  width: 100% !important;
  height: 100% !important;
  display: inherit;
  float: right;
}

/**********************************
******** RESPONSIVE AREA **********
**********************************/

@media (max-width: 600px) {
  .App-header {
    padding: 0.5rem;
  }

  .App-login {
    margin-right: 5rem;;
  }

  .App-title {
    display: none;
  }
  #content div {
    width: 65%;
    padding: 0 0.5rem 0 0.5rem;
    height: 250px;
  }
  .contentDiv {
    height: 740px;
    background-image: url("https://www.tcdi.com/wp-content/uploads/2015/05/Future.jpg");
  }
  #engineForm {
    display: block;
  }
  #engineForm input {
    width: 70%;
    margin: 0.35rem 0 0.35rem 0;
    padding: 0 1.5rem 0 1.5rem;
  }
  #engineForm button {
    margin: 0.35rem 0 0.35rem 0;
    padding: 0 1.5rem 0 1.5rem;
    width: 90%;
  }

  #elementInstitutionSearch {
    width: 100%;
  }

  #containerSearch {
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }

  #containerReview {
    width: 100%;
    margin: 0;
    box-shadow: none;
    border-radius: 0; 
  }
}

@media (max-width: 1000px) {
  .App-header {
    padding: 0.5rem 0 0.5rem 0;
  }
}

@media (min-width: 1600px) {

  .App-header ul {
    width: 75%;
    margin-left: 10rem;
    -webkit-padding-start: 0;
  }

  .App-login {
    margin-right: 0;
  }

  #elementInstitutionSearch {
    width: 88%;
    margin-left: 8rem;
  }

  #elementInstitutionReview {
    width: 88%;
    margin-left: 8rem;
  }

  #polarChart {
    margin-left: 5rem;
  }
}